.dashboard {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
  
  
    .box {
      padding: 10px;
      border-radius: 10px;
      border: 2px solid ;
      background-color: rgba(250, 250, 251);
    }
  
    .box1 {
      grid-column: span 1;
      grid-row: span 3;
    }
  
    .box4 {
      grid-column: span 1;
      grid-row: span 3;
    }
    .box7_1 {
      display: flex;
      padding: 20px;
      border-radius: 10px;
      border: 2px solid ;
      align-items: center;
      justify-content: center;
    }
    .box7 {
      display: grid;
      gap: 20px;
      grid-column: span 1;
      grid-row: span 2;
      grid-template-rows: min-content 1fr;
      grid-auto-rows: minmax(180px, auto);
    }
    .box7 h2 {
      margin: 0;
    }
    .image-box {
      position: relative;
      overflow: hidden;
   
    }
    
    .image-box img {
      width: 110px;
      height: 110px;
      object-fit: cover;
      transition: transform 0.3s, filter 0.3s;
    }
    
    .image-box:hover img {
      transform: scale(1.1);
      filter: brightness(70%);
    }
  }